body{
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    text-align: center;
    
}
div{
    
    background-color: #E4F9F5;
    
}
h1{
    margin: 0px;
    
}
.top-cloud{
    margin-top: 20px;
    margin-left: 414px;
    position: relative;
    margin-bottom: 0% 
}
.bottom-cloud{
    position: absolute;
}