hr{
  width: 30%;
  border-style: dotted;
}
h1 {
   text-align:center;
  }
table{
    text-align: center;
  }
#dayy{
  background-color: aqua;
}
#agree{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}